*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icp{
    color: white !important;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5rem;
}
.slides
{
    background-image: linear-gradient(to top right,rgba(0,0,0.0), rgba(0,0,0,.1)), url(./img/slide/slide-1.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 110vh;
    width: 100%;
    opacity: 2;
}
.slides2
{
    background-image: linear-gradient(to top right,rgba(0,0,0.51), rgba(0,0,0,.3)),url(./img/slide/slide-2.jpg);
}
.slides3
{
    background-image: linear-gradient(to top right,rgba(0,0,0.51), rgba(0,0,0,.3)),url(./img/slide/slide-3.jpg);
}
.sticknav
{
    background-color: #3C3A37 !important;
    transition: 1s;
    opacity: 8;
    position: relative;
}
.hvbtn
{
    border-radius: 30px !important;
    border: 2px solid #FFC107 !important;
    transition: .7s !important;
}
.hvbtn:nth-child(2)
{
    margin-left: 10px !important;
}

.div1 {
    height: 70vh;
    background-image: url(./img/about.jpg);
    background-size: 100% 100%;
}

.video-box .play-btn
{
    background: #ffb03b;
    color: white;
    font-size: 40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
.play-btn .fa-play
{
    line-height: 70px;
    margin-left: 5px;
}
.video-box .play-btn::before,.video-box .play-btn::after
{
    content: "";
    position: absolute;
    border: 2px solid #ffb03b;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}
.video-box .play-btn::after{animation-delay: .5s;}
@keyframes animate
{
    0%{
        transform: scale(.5);
    }
    50%{
         opacity: 1;
    }
    100%{
        transform: scale(1.5);
    }
}


.menu-card-1
{
    height: 38vh;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px 0px rgb(248, 247, 247);
    padding-left: 10px;
    transition-duration: .9s;
}
.menu-card-1 > h2
{
    font-family: French Script MT;
    transition-duration: .8s;
    font-size: 2.45rem;
}
.menu-card-1 > p:nth-child(1)
{
    color: #FFC107;
    transition-duration: .8s;
}
.menu-card-1 > p:nth-child(3)
{
    letter-spacing: 1.2px;
    color: grey;
    font-weight: lighter;
}
.menu-card-1:hover
{
    cursor: pointer; 
    background-color: #fd7e14;
    box-shadow: 0px 0px 10px 0px #f6750c;
    border-radius: 10px;
    transition: .9s;
}
.menu-card-1:hover > p
{
    transform: translateY(-20px);
    color: white;
    transition: .2s;
}
.menu-card-1:hover > h2
{
    transform: translateY(-20px);
    transition: .3s;
    color: white;
}
.btn
{
    border: 1.5px solid #fd7e14 !important;
    /* border-radius: 10px !important; */
}
.btn:hover
{
    background-color: #fd7e14 !important;
    color: white !important;
}
.listcl
{
    color: black !important;
    font-weight: bolder;
    font-family: calibri;
    font-size: 1.25rem;
}
.event{
    height: auto;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(./img/gallery/gallery-2.jpg);
    background-size: 100% 100%;

}
.eve img
{
    height: 100%;
    width: 100%;
}
.hvgallery
{
    height: 50vh;
    /* width: auto; */
    overflow: hidden;
    transition-duration: .6s;
    cursor: pointer;
}
.hvgallery img
{
    height: 100%;
    width: 100%;
}
.hvgallery:hover img
{
    transition: .6s;
    opacity: .8;
    transform: scale(1.1);
}
.show
{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 222;
    visibility: hidden;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.9), rgba(0,0,0,.9));   
}
.hide
{
    color: white;
    font-size: 2rem;
    position: relative;
    cursor: pointer;
    left: 95%;
}
.showes
{
    height: 100%;
    width: 100%;
    position: relative;
}
.showingimg{
    height: 90%;
}
.showingimg img
{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}


.our-team{
    background-image: linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7)),url(./img/chefs-bg.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 50px;
}

.our-team .h1{
    color: #1C5C93;
}

.team-card{
    position: relative;
}

.team-card img{
    width: 100%;
    height: 100%;
    transition: .4s;
}

.member-info
{
    position: relative;
    bottom: 50px;
}
.link:hover
{
    color: #ffb03b;
}
.slider
{
    
    width: 100%;
    background-image:linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)) , url(./img/testimonials-bg.jpg);
    background-size: 100% 100%;
    padding: 50px;
}
.s-img
{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    /* border: 1px solid; */
    background-image: url(./img/testimonials/testimonials-1.jpg);
    background-size: 100% 100%;
    box-shadow: 0px 0px 20px 10px #594C44;
}
.s-img1
{
    background-image: url(./img/testimonials/testimonials-2.jpg);
}
.s-img2
{
    background-image: url(./img/testimonials/testimonials-3.jpg);
}
.s-img3
{
    background-image: url(./img/testimonials/testimonials-4.jpg);
}
.s-img4
{
    background-image: url(./img/testimonials/testimonials-5.jpg);
}
.embed-responsive iframe
{
    height: 60vh;
    width: 100%;
}
* SPECIAL SEC STYLE */

.special-data-links ul{
    list-style: none;
    padding: 0;
    /* border: 2px solid blue !important; */
}

.special-data-link{
    font-weight: 700;
    cursor: pointer;
    padding: 7.4px 0;
    border-right: 2px solid rgba(0,0,0,.2);
    transition: .3s;
}

.special-data-links ul li:hover{
    color: #FFC107;
}

.special-data-link-active{
    border-color: #FFC107;
    color: #FFC107;
}

.special-data img{
    width: 250px;
    /* border: 2px solid; */
    padding: 0;
}